  html{
    color: #fff;
  }
  .mt{
      margin: 24px;
  }

  :root {
    --modal-duration: 1s;
  }

  .column{
    text-align: center;
  }

  /* html{
    background-color: #000;
     color: #fff;
    }

  .page-header{
    text-align: center;
     margin-bottom: 50px;
    }

  .howToPlay, ul{
    float: left;
  }

  .historia, p
  {float: right;
  }

  p{
    margin-left: 75%;
    margin-top: -20%;
  } */
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    /* font-size: 17px; */
    line-height: 1.6;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.99);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: #e4605e;
    padding: 15px;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #f5f5f5;
    color: black;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: black;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: black;
    float: right;
    font-size: 30px;
    color: black;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  /* This styles we catch from w3schools ALL OF THIS */

  body {
    margin: 0;
    background-color: black;
  }
  
  /* Style the header */
  .header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color: black;
    padding: 10px;
    text-align: center;
  }